.about-data {
  width: 1050px;
  margin: 20px auto;
  padding: 20px 0px 20px 25px;
  background-color: aqua;
}
.about-data h3 {
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: underline;
}
.about-data .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}