doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="Login.css")
        link(rel="stylesheet", href="Register.css")
        link(rel="stylesheet", href="Nav.css")
        link(rel="stylesheet", href="About.css")
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        title fullstack-webpage
    body 
        #head
        script(src="/src/index.js")