.add-products-container
    width: 1000px
    margin: 30px auto
    border: 1px solid black
    h1
        padding: 20px 0px
        font-size: 23px
        font-weight: 500
        text-align: center
        border-bottom: 1px solid black
    form
        margin: 25px 0px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        input
            &::-webkit-outer-spin-button, 
            &::-webkit-inner-spin-button
                -webkit-appearance: none
                margin: 0px
        .text-field
            padding: 5px 
            width: 35%
            margin: 5px auto
            label
                top: -5px
            input
                padding: 10px 15px
        button
            cursor: pointer
            background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)
            border-radius: 3px
            border: 0px
            color: white
            height: 35px
            margin-top: 10px
            padding: 0px 30px
            box-shadow: 0px 3px 5px 2px rgba(255, 105, 135, .3)

@media only screen and (max-width: 1230px)
    .add-products-container
        width: 800px

@media only screen and (max-width: 990px)
    .add-products-container
        width: 600px

@media only screen and (max-width: 630px)
    .add-products-container
        width: 400px
        form
            input
                width: 50%

@media only screen and (max-width: 430px)
    .add-products-container
        width: 300px
        form
            input
                width: 70%

@media only screen and (max-width: 320px)
    .add-products-container
        width: 250px
        form
            input
                width: 80%

@media only screen and (max-width: 260px)
    .add-products-container
        width: 200px
        form
            input
                width: 95%