.footer-container
    background-color: aqua
    width: 100%
    position: absolute
    bottom: 0px
    h3
        text-align: center
    .contact-info
        border: 1px solid black
        .contact-container
            display: flex