.footer-background
    background-color: aqua
    .footer-container
        width: 1000px
        margin: auto
        padding: 20px 0px
        h2
            font-weight: 500
            letter-spacing: 2px
            text-align: center
            text-decoration: underline
            text-underline-offset: 2px
        .footer-items
            margin: 30px 0px
            width: 100%
            margin: 50px auto 0px auto
            display: flex
            justify-content: space-between
            .logo
                height: 100px
                display: flex
                justify-content: space-evenly
                flex-direction: column
                align-items: center
                i
                    margin: 20px 0px
                    font-size: 39px
                    cursor: pointer
                a
                    letter-spacing: 1.5px
                    font-size: 19px
                    text-decoration: none
                    cursor: pointer
        .form-main
            width: 100%
            margin: 70px auto 20px auto
            .form-side
                display: flex
                gap: 15px
                width: 100%
                input
                    width: 50%
                    padding: 10px 5px
            .form-comp
                margin: 10px 0px 7px 0px
                textarea
                    padding: 10px 5px
                    width: 100%
                    resize: none
            .send-btn
                cursor: pointer
                font-size: 18px
                padding: 7px 20px

.bottom-text
    text-align: center
    background-color: black
    p
        color: white
        font-size: 22px
