.about-data
    width: 1050px
    margin: 20px auto
    padding: 20px 30px
    background-color: aqua
    display: flex
    flex-direction: column
    h3
        font-weight: 300
        font-size: 22px
        letter-spacing: 1px
        text-align: center
        text-decoration: underline
        margin-bottom: 15px
    .user-info
        display: flex
        align-items: center
        h5
            font-size: 19px
            margin: 10px 0px
    .container
        display: flex
        align-items: center
        .user-info-container
            width: 70%
            border: 1px solid black
        .user-profile
            width: 30%
            border: 1px solid black