.about-data
    width: 1050px
    margin: 20px auto
    padding: 20px 30px
    background-color: aqua
    display: flex
    flex-direction: column
    h3
        font-weight: 300
        font-size: 22px
        letter-spacing: 1px
        text-align: center
        text-decoration: underline
        margin-bottom: 15px
    .user-info
        display: flex
        align-items: center
        h5
            font-size: 19px
            margin: 10px 0px
    .container
        height: 250px
        display: flex
        align-items: center
        .user-info-container
            display: flex
            justify-content: center 
            flex-direction: column
            height: 100%
            width: 70%
            // border: 1px solid black
        .user-profile
            display: flex
            justify-content: center
            // border: 1px solid black
            width: 30%
            height: 100%
            img
                height: 100%
                width: 100%