.login-page
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 80vh
    .form-data
        border: 1px solid black
        align-items: center
        height: 300px
        width: 350px
        display: flex
        justify-content: center
        flex-direction: column
        form
            margin-top: 10px
            display: flex
            flex-direction: column
            .data
                width: 220px
                padding: 5px
                margin: 12px
                border: 0.2px solid black
            .login-btn
                margin: auto
                width: 150px
                padding: 2px
                margin-top: 10px
                font-size: 17px
                cursor: pointer