.footer-background {
  background-color: aqua;
}
.footer-background .footer-container {
  width: 1000px;
  margin: auto;
  padding: 20px 0px;
}
.footer-background .footer-container h2 {
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footer-background .footer-container .footer-items {
  width: 100%;
  margin: 50px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-background .footer-container .footer-items .logo {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-background .footer-container .footer-items .logo i {
  margin: 20px 0px;
  font-size: 39px;
  cursor: pointer;
}
.footer-background .footer-container .footer-items .logo a {
  letter-spacing: 1.5px;
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
}
.footer-background .footer-container .form-main {
  width: 100%;
  margin: 70px auto 20px auto;
}
.footer-background .footer-container .form-main .form-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  width: 100%;
}
.footer-background .footer-container .form-main .form-side input {
  width: 50%;
  padding: 10px 5px;
}
.footer-background .footer-container .form-main .form-comp {
  margin: 10px 0px 7px 0px;
}
.footer-background .footer-container .form-main .form-comp textarea {
  padding: 10px 5px;
  width: 100%;
  resize: none;
}
.footer-background .footer-container .form-main .send-btn {
  cursor: pointer;
  font-size: 18px;
  padding: 7px 20px;
}

.bottom-text {
  text-align: center;
  background-color: black;
}
.bottom-text p {
  color: white;
  font-size: 22px;
}

@media only screen and (max-width: 1010px) {
  .footer-background .footer-container {
    width: 800px;
  }
}
@media only screen and (max-width: 820px) {
  .footer-background .footer-container {
    width: 650px;
  }
  .footer-background .footer-container .footer-items .logo i {
    font-size: 33px;
  }
  .footer-background .footer-container .footer-items .logo a {
    letter-spacing: 0.7px;
  }
}
@media only screen and (max-width: 700px) {
  .footer-background .footer-container {
    width: 600px;
  }
  .footer-background .footer-container .form-main {
    margin: 50px auto 20px auto;
  }
  .footer-background .footer-container .footer-items {
    margin: 30px auto 0px auto;
  }
  .footer-background .footer-container .footer-items .logo i {
    font-size: 30px;
  }
  .footer-background .footer-container .footer-items .logo a {
    letter-spacing: 0.1px;
  }
}
@media only screen and (max-width: 620px) {
  .footer-background .footer-container {
    width: 520px;
  }
  .footer-background .footer-container .form-main {
    margin: 50px auto 20px auto;
  }
  .footer-background .footer-container .footer-items {
    margin: 30px auto 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-background .footer-container .footer-items .parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-background .footer-container .footer-items .logo i {
    font-size: 28px;
  }
  .footer-background .footer-container .footer-items .logo a {
    letter-spacing: 0.9px;
  }
}
@media only screen and (max-width: 540px) {
  .footer-background .footer-container {
    width: 400px;
  }
  .footer-background .footer-container .form-main {
    margin: 50px auto 20px auto;
  }
  .footer-background .footer-container .form-main .form-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-background .footer-container .form-main .form-side input {
    width: 100%;
  }
  .footer-background .footer-container .footer-items {
    margin: 30px auto 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-background .footer-container .footer-items .parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-background .footer-container .footer-items .logo i {
    font-size: 28px;
  }
  .footer-background .footer-container .footer-items .logo a {
    letter-spacing: 0.9px;
  }
}