.nav {
  width: 100%;
  height: 60px;
  background-color: aqua;
}
.nav .nav-bar {
  background-color: aqua;
  height: 100%;
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-bar .right-side {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}
.nav .nav-bar .right-side .right-element {
  margin: 0px 15px;
}
.nav .nav-bar .left-side {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .nav-bar .left-side a {
  margin: 0px 15px;
}
.nav .nav-bar .animation {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 19px;
  position: relative;
}
.nav .nav-bar .animation::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0px;
  width: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.nav .nav-bar .animation::after {
  bottom: 0px;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.nav .nav-bar .animation:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav .nav-bar .back-btn-container {
  width: 100%;
}
.nav .nav-bar .back-btn-container .back-btn {
  float: right;
  color: #551a8b;
  cursor: pointer;
  border: none;
  background: none;
}