.nav {
  width: 100%;
  height: 60px;
  background-color: aqua;
}
.nav .ham {
  position: absolute;
  top: 10px;
  right: 50px;
  height: 40px;
  width: 45px;
  cursor: pointer;
  display: none;
}
.nav .ham .hamburger-menu {
  z-index: 999;
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
}
.nav .ham .hamburger-menu::before, .nav .ham .hamburger-menu::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 50px;
  height: 6px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.nav .ham .hamburger-menu::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
.nav .ham .hamburger-menu::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}
.nav .ham.open .hamburger-menu {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.nav .ham.open .hamburger-menu::before {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}
.nav .ham.open .hamburger-menu::after {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}
.nav .nav-bar {
  background-color: aqua;
  height: 100%;
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-bar .right-side {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}
.nav .nav-bar .right-side .right-element {
  margin: 0px 15px;
}
.nav .nav-bar .left-side {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .nav-bar .left-side a {
  margin: 0px 15px;
}
.nav .nav-bar .animation {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 19px;
  position: relative;
}
.nav .nav-bar .animation::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0px;
  width: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.nav .nav-bar .animation::after {
  bottom: 0px;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.nav .nav-bar .animation:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav .nav-bar .back-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.nav .nav-bar .back-btn-container .back-btn {
  float: right;
  color: #551a8b;
  cursor: pointer;
  border: none;
  background: none;
}
.nav .nav-bar .back-btn-container i {
  cursor: pointer;
  float: right;
}

@media only screen and (max-width: 1010px) {
  .nav .nav-bar {
    width: 800px;
  }
  .nav .nav-bar .right-side {
    width: 150px;
  }
  .nav .nav-bar .left-side {
    width: 650px;
  }
  .nav .nav-bar .left-side a {
    margin: 0px 15px;
  }
}
@media only screen and (max-width: 820px) {
  .nav .nav-bar {
    width: 650px;
  }
  .nav .nav-bar .right-side {
    width: 50px;
  }
  .nav .nav-bar .left-side {
    width: 600px;
  }
  .nav .nav-bar .left-side a {
    margin: 0px 7px;
  }
}
@media only screen and (max-width: 700px) {
  .nav .ham {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav .nav-bar {
    height: 100%;
    background-color: black;
    width: 100%;
    position: fixed;
    top: -100vh;
    right: 0px;
    left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 50px 70px;
    -webkit-transition: all 800ms cubic-bezier(1, 0, 0, 1);
    transition: all 800ms cubic-bezier(1, 0, 0, 1);
  }
  .nav .nav-bar.open {
    top: 0px;
  }
  .nav .nav-bar .right-side {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav .nav-bar .right-side .right-element {
    font-size: 23px;
    margin: 20px 0px 0px 15px;
  }
  .nav .nav-bar .left-side {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .nav-bar .left-side a {
    font-size: 23px;
    margin: 0px 15px;
    width: 170px;
  }
}