.register-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
}
.register-page .form-data {
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.register-page .form-data form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register-page .form-data form input::-webkit-outer-spin-button, .register-page .form-data form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.register-page .form-data form p {
  letter-spacing: 0px;
}
.register-page .form-data form p a {
  text-decoration: none;
}
.register-page .form-data form .data {
  width: 240px;
  padding: 5px;
  margin: 12px;
  border: 0.2px solid black;
}
.register-page .form-data form .register-btn {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  borderRadius: 3px;
  border: 0px;
  color: white;
  height: 35px;
  margin-top: 10px;
  padding: 0px 30px;
  boxShadow: 0px 3px 5px 2px rgba(255, 105, 135, 0.3);
}
.register-page .form-data form .alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 7px;
}
.register-page .form-data form .alignment svg {
  font-size: 23px;
  margin-top: 27px;
}
.register-page .form-data form .alignment .icon {
  right: 5px;
  position: absolute;
  cursor: pointer;
  margin-top: 5px;
}
.register-page .form-data form .alignment .icon svg {
  font-size: 20px;
}
.register-page .form-data form .alignment .input-label {
  margin-top: 12px;
  width: 270px;
}
.register-page .form-data form .alignment .input-label .label {
  font-size: 19px;
}
.register-page .form-data form p {
  margin-top: 15px;
}