.seller-info {
  border: 1px solid black;
  width: 1000px;
  margin: 30px auto;
}
.seller-info .heading {
  padding: 20px 0px;
  font-size: 23px;
  font-weight: 500;
  background-color: aqua;
  text-align: center;
  border-bottom: 1px solid black;
}
.seller-info .seller-data {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 30px;
}
.seller-info .seller-data .user-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 70%;
}
.seller-info .seller-data .user-info-container .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.seller-info .seller-data .user-info-container .user-info h5 {
  font-size: 19px;
  margin: 10px 0px;
}

.sellers-name-info {
  padding: 20px;
}
.sellers-name-info .sellers-name {
  margin: 10px 0px;
}
.sellers-name-info .sellers-name .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sellers-name-info .sellers-name .user-info a {
  font-size: 23px;
  margin-top: 2px;
  text-decoration: none;
}